<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container" style="border: 2px solid black; margin-top: 20px; box-shadow: 20px 20px 10px grey; margin-bottom: 60px; padding: 30px;">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify" style="font-family: jost,sans-serif;">
      <h1 class="mt-4 mb-5 text-center">Work With Us</h1>
      <h3 style="margin-bottom: 30px;">We are always looking to hire serious people!</h3>
      <p style="margin-bottom: 40px;">
        If you need a job, and you have an interest in what we do! 
        You can now contact us and tell us and we will do our best to get you a good job, 
        there are a lot of job vacancies waiting for you! Just contact us via this email and wait for good news!
      </p>
      <p>
        If you are interested in working with us, please send your CV to the
        following email and we will get back to you. <br />
        <a href="mailto:Talabatak@email.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <u style="font-weight: bold;">Talabatak@email.com</u>
        </a>
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
