<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Shipping Information</h1>
      <p>
        On this page you will find information about our shipping duration and
        costs.
      </p>

      <h4> Delivery cost inside Palestine:</h4>
      <p>
        •	Products are delivered through "Talabatak" private delivery service.<br>
        •	Delivery is carried out to all cities and villages of the West Bank, Jerusalem and the interior regions.<br>
        •	Delivery time: within 3-7 days.<br>
        •	Delivery fees in the cities and villages of the West Bank: (15 NIS).<br>
        •	Delivery fees in Jerusalem: (25 NIS).<br>
        •	Domestic delivery fees: (45 NIS).<br>
        •	Delivery Mechanisms and fees apply to all products shown on the site.<br>
        <h4>Delivery details and cost outside Palestine:</h4>
        •	Delivery time to Arab countries is 3-4 working days.<br>
        •	Delivery time to foreign countries from 4-6 working days.<br>
        <br><br>
        <h3>Payment methods:</h3>
        <p>Payment methods at <strong>Talabatak</strong> Company
        The payment method available within the cities of the West Bank, Jerusalem, and the interior regions, in cash upon receipt.
        International payment method outside the borders of Palestine via Visa Card.
        The customer has the right to check and confirm the product before paying.
        Upon order confirmation, the customer will be contacted within a maximum period of 3 days, in case of failure to communicate with the customer by phone for more than 3 days, the order will be automatically canceled.
        </p>

      <h4>Do you have questions?</h4>
      <p>
        Please do not hesitate to
        <a href="/pages/contact-us"><u>contact us</u></a> through our emails or
        phone numbers
      </p>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
